footer.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  .social-link {
    display: block;
 
    font-size: 1rem;
    background-color: $primary;
    transition: background-color 0.1s ease-in-out;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: darken($primary, 5%);
      text-decoration: none;
    }
  }
}
