<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<%- include('./new-structure/header',{title:'About'})%>
<div class="nav"> 
    <div class="container flex j-center a-center" style="height: 70px;">
        <a href="/" style="color: #333;text-decoration: none;">Home /</a>
        <span style="color: #888; display: block;margin-left: 10px;"> About</span>
    </div>
</div>
<div class="image-aboutus-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">About Us</h1>
                <p class="image-aboutus-para">The No. 1 bank of the Vietnamese banking system, providing modern,
                    convenient, international standard banking and financial products and services.</p>
            </div>
        </div>
    </div>
</div>
<div class="container paddingTB60">
    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <hr>

            <h2>NHKK BANK</h2>

            <hr>

            <!-- Preview Image -->
            <img class="img-responsive"
                src="http://mobilebusinessinsights.com/wp-content/uploads/2016/03/IBM_MobileFirst_SXSWBlog_0321_v2.jpg"
                alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">The No. 1 bank of the Vietnamese banking system, providing modern, convenient, international
                standard banking and financial products and services.</p>
            <p>Name English: VIETNAM JOINT STOCK COMMERCIAL BANK FOR INDUSTRY AND TRADE.</p>
            <p>Equity: 67.455.517.000.000 VND (at the momment 31/12/2018)!</p>
            <p>Address: 235 Nguyễn Văn Cừ ,Phường Nguyễn Cư Trinh, Q.5,Hồ Chí Minh</p>
            <p>Phone number: (84-24) 3942 1030</p>
            <p>Mission: Being the No. 1 bank of the Vietnamese banking system, providing modern, convenient,
                international standard banking and financial products and services.</p>
            <p>Vision: To become a leading financial and banking group in Vietnam, on a regional level, modern,
                multi-functional and highly efficient.</p>
            <p>Business Philosophy:Safe, efficient and sustainable;</p>
            <h3>Team build project:</h3>

        </div>
        <div class="row" id="team-member" style="width: 100%;">
            <div class="col-xs-6 col-md-3">
                <div class="gutter">
                    <img src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.0-9/s960x960/96428022_1590112611163379_6205139230503469056_o.jpg?_nc_cat=100&_nc_sid=110474&_nc_ohc=RsC4XjLZ_a0AX92-ntV&_nc_ht=scontent.fvca1-2.fna&_nc_tp=7&oh=fc4558657c80a69c63165e90e7e37384&oe=5F54E09A" alt="">
                    <h5>1760053</h5>
                    <h4>Châu Thanh Hằng</h4>
                    <h3>Member</h3>

                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="gutter">
                    <img src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.0-1/106550085_614489169193641_6976686877454790158_o.jpg?_nc_cat=100&_nc_sid=dbb9e7&_nc_ohc=3CwACLOJLBAAX-l5BvU&_nc_ht=scontent.fvca1-2.fna&oh=885f5e62498a9d6b93ec439f8ddb3996&oe=5F553E7E" alt="">
                    <h5>1760137</h5>
                    <h4>Nguyễn Ngọc Yến Nhi</h4>
                    <h3>Member</h3>

                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="gutter">
                    <img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.0-9/106730071_2387573308204286_358611756369088970_n.jpg?_nc_cat=107&_nc_sid=85a577&_nc_ohc=G7KQTceXJIsAX9LAYrV&_nc_ht=scontent-hkg4-1.xx&oh=623b90b580d6296526ed4092d97c4a29&oe=5F534042"
                        alt="">
                    <h5>1760086</h5>
                    <h4>Lê Nguyễn Trung Kiên</h4>
                    <h3>Leader</h3>

                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="gutter">
                    <img src="https://st.quantrimang.com/photos/image/2017/04/08/anh-dai-dien-FB-200.jpg" alt="">
                    <h5>1760299</h5>
                    <h4>Nguyễn Ngọc Đức Hải</h4>
                    <h3>Member</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="cta-sektion cta-padding35">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h3><span class="glyphicon glyphicon-cog "></span> <b>Homes for account?</b> Explore properties like a
                    pro.</h3>
            </div>
        </div>
    </div>
</div>
<div class="footer-section">
    <div class="footer">
        <div class="container">
            <div class="col-md-4 footer-one">
                <h5>About Us </h5>
                <p>You can trust and hand over your financial responsible</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/"><i id="social-fb"
                            class="fab fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/"><i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
                    <a href="https://plus.google.com/"><i id="social-gp"
                            class="fab fa-google-plus-square fa-3x social"></i></a>
                    <a href="mailto:bootsnipp@gmail.com"><i id="social-em"
                            class="fa fa-envelope-square fa-3x social"></i></a>
                </div>
            </div>
            <div class="col-md-3 footer-two">
                <h5>Information </h5>
                <ul>
                    <li><a href="/login">Maintenance Tips</a></li>
                    <li><a href="/">Locations</a></li>
                    <li><a href="/privacy">Customer service</a></li>
                    <li><a href="/index">Careers</a></li>
                    <li><a href="/about">Partners</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-three">
                <h5>Helpful Links </h5>
                <ul>
                    <li><a href="/login">Maintenance Tips</a></li>
                    <li><a href="/">Locations</a></li>
                    <li><a href="/about">Contact us</a></li>
                    <li><a href="/index">Careers</a></li>
                    <li><a href="/privacy">Interest rate</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center ">
                    <div class="copyright-text">
                        <p>CopyRight © 2020 Digital All Rights Reserved</p>
                    </div>
                </div> <!-- End Col -->

            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./js/main.js"></script>