<%- include('./client-structure/header',{title:'Forget Password'})%>
<div class="login">
    <div class="container">
        <div class="modal" style="margin-top: 200px;">
            <form action="">
                <div class="form-title flex a-center j-between">
                    <h3>Forgot Password</h3>
                    <a href="/">Back</a>
                </div>
                <div class="form-group ">
                    <label for=""><span style="color: red;">*</span>Type your email</label>
                    <div class="row a-center j-between">

                        <div class="col-xs-8">
                            <input type="email" placeholder="" id="email" required>
                        </div>
                        <div class="col-xs-4">
                            <a href="" id="send"
                                style="height: 35px;padding: 0 15px;border-radius: 5px;background-color: #3c2c3e; line-height: 35px; display: block;text-align: center;color: white;text-decoration: none;cursor: pointer;">Send
                                Code</a>
                        </div>
                    </div>
                </div>
                <div class="after-ok" style="display: none;">
                    <div class="form-group">
                        <label for=""><span style="color: red;">*</span> Code</label>
                        <input type="text" placeholder="" id="code">
                    </div>
                    <div class="form-group">
                        <label for=""><span style="color: red;">*</span> Password</label>
                        <input type="password" placeholder="" id="password">
                    </div>
                    <div class="form-group">
                        <label for=""><span style="color: red;">*</span> Re-Password</label>
                        <input type="password" placeholder="" id="password_retype">
                    </div>
                </div>

                <div class="form-actions">
                    <button class="btn btn-submit" style="background-color: #333;" disabled><i
                            class="fas fa-sign-in-alt"></i>
                        Submit</button>
                </div>

                <div class="form-error"></div>
            </form>
        </div>
    </div>
</div>
<%- include('./client-structure/footer')%>
<script>

    $(function () {
        $('.after-ok').css('display', 'none');
        $('#send').click(function (e) {
            $('.after-ok').fadeOut(100)
            e.preventDefault();
            $('.form-error').empty()
            const email = $('#email').val();
            if (!email) {
                AddError('Vui lòng nhập email');
                return
            }
            if (!validateEmail(email)) {
                AddError('Địa chỉ email không hợp lệ');
                return
            }

            $.post("/api/send-code", { email },
                function (data, textStatus, jqXHR) {
                    if (data) {
                        if (data == 'ok') {
                            alert('Đã gửi mã. Vui lòng kiểm tra email.');
                            $('.after-ok').fadeIn(200);
                            $('.btn-submit').css('background-color', '#ff5200')
                            $('.btn-submit').removeAttr("disabled")
                            return;
                        }
                        if (data == 'fail') {
                            alert('Email không tồn tại trong hệ thống.')
                        }
                    }
                    else {
                        alert('Đã xảy ra lỗi')
                    }
                },
            );

        });

        $('.btn-submit').click(function (e) {
            e.preventDefault();
            const code = $('#code').val();
            const password = $('#password').val();
            const password_retype = $('#password_retype').val();

            if (!code || !password || !password_retype) {
                AddError('Vui lòng nhập đầy đủ nội dung')
                if (!code) {
                    $('#code').focus();
                }
                else if (!code) {
                    $('#password').focus();
                }
                else if (!code) {
                    $('#password_retype').focus();
                }
                return;
            }

            if (password != password_retype) {
                AddError('Mật khẩu xác thực không trùng khớp')
                $('#password_retype').focus();
                return;
            }

            $.post("/api/new-password", { code, password, password_retype },
                function (data, textStatus, jqXHR) {
                    console.log(data);
                    if (data) {
                        if (data == 'ok') {
                            alert('Đổi mật khẩu thành công');
                            $(location).attr('href', '/login');
                            return;
                        }
                        if (data == 'wrong code') {
                            AddError('Code không hợp lệ')
                            return
                        }
                        if (data == 'not equal') {
                            AddError('Mật khẩu xác thực không trùng khớp')
                            $('#password_retype').focus();
                            return
                        }
                        if (data == 'empty') {
                            AddError('Vui lòng nhập đầy đủ nội dung')
                            return
                        }
                        alert(data)
                    }
                    else {
                        AddError('Đã xảy ra lỗi')
                        return
                    }
                },
            );
        });

    });

</script>