<%- include('./client-structure/header',{title:'Index'})%>

<header>
    <div class="container">
        <div class="fix">
            <div class="nav-bar flex a-center j-between">
                <div class="logo">
                    NKHH
                </div>
                <div class="nav-list">
                    <ul class="flex a-center j-between">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <% if(currentUser && currentUser.permission == 0){%>
                        <li>
                            <a href="/profile">Profile</a>
                        </li>
                        <li>
                            <a href="/transfer">Transfer</a>
                        </li>
                        <li>
                            <a href="/withdraw">Withdraw</a>
                        </li>
                        <%}else if(currentUser && currentUser.permission == 1){%>
                        <li><a href="/list-user">Manage user</a></li>
                        <li><a href="/history-user">User's history</a></li>
                        <%}%>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="user-handle">
                    <ul class="flex a-center ">
                        <%if(!currentUser){%>
                        <li><a href="/login" class="btn btn-login">Login </a></li>
                        <li><a href="/register" class="btn-sign-up">Sign Up </a></li>
                        <%}else{%>
                        <li><a href="" id="logout" class="logout btn btn-login">Log out</a></li>
                        <%}%>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 nav-left">
                    <h1 class="">NKHH is great!</h1>
                    <p>We pride ourselves on being the bank of the year 2020</p>
                </div>
                <div class="col-xs-12 col-md-6 nav-right">
                    <%if(!currentUser){%>
                    <a href="/register"><button class="btn">Get Start Now !</button></a>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
    </div>
</header>

<body>
    <div class="section-1">
        <div class="container">
            <div class="flex">
                <div class="section-1-item" style="background-color: #4262c1;">
                    <i class="far fa-paper-plane"></i>
                    <h3>Easy for Use</h3>
                    <p>Easy account creation, easy payment, easy savings money.</p>
                </div>
                <div class="section-1-item" style="background-color: #694e96;">
                    <i class="fas fa-shield-alt"></i>
                    <h3>Insurance Protection</h3>
                    <p>Each operation, every transaction is secured 2 times with Secure-Code.</p>
                </div>
                <div class="section-1-item" style="background-color: #1dd3bd;">
                    <i class="fas fa-fingerprint"></i>
                    <h3>Secure Storage</h3>
                    <p>We store your data very deeply, using many levels of encoding.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section-2">
        <div class="container">
            <div class="row section-2-item a-center">
                <div class="col-xs-10 col-md-6 ">
                    <img src="./img/img_12.png" alt="">
                </div>
                <div class="col-xs-10 col-md-6  ">
                    <h3>We have the best developers and data engineers!</h3>
                    <p>Data is very important, so we always try hard and ceaselessly to bring the best performance to the whole system, ensuring peace of mind.</p>
                    <a href="privacy"><button class="btn">Discover</button></a>
                </div>
            </div>

            <div class="row section-2-item a-center" style="margin-top: 20px;">
                <div class="col-xs-10 col-md-6  ">
                    <h3>Many Successes</h3>
                    <p>There are many entrepreneurs who choose us, whether they are successful entrepreneurs or starup entrepreneurs, we always help.</p>
                    <a href="privacy"><button class="btn" style="border-color: #4262c1;">Discover</button></a>
                </div>
                <div class="col-xs-10 col-md-6 ">
                    <img src="./img/img_13.png" alt="">
                </div>
            </div>

        </div>
    </div>
    <div class="section-3 section">
        <div class="container">
            <div class="title">
                <h4>NKHH STRONG SIZE</h4>
                <h3>NKHH Benefits</h3>
                <span>
                  We have a server system that works non-stop but still ensures high performance.
                </span>
            </div>
            <div class="section-3-item">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <img src="./img/9_1.png" alt="">
                        <p>
                            Low Price Exchange
                        </p>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <img src="./img/10_1.png" alt="">
                        <p>
                            Best Secure Services
                        </p>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <img src="./img/11_1.png" alt="">
                        <p>
                            Modern Calculate Equipment
                        </p>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <img src="./img/12_1.png" alt="">
                        <p>
                            Secure Storage
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-4 section">
        <div class="container">
            <div class="title">
                <h4>Exclusive prices</h4>
                <h3>WE PROVIDE BEST PRICE</h3>

            </div>
            <div class="section-4-item">
                <div class="row j-between">

                    <div class="col-xs-4">
                        <div class="price__content-item">
                            <div class="item-space">

                                <span><i class="far fa-user"></i></span>
                                <h4>BASIC</h4>
                                <h5><sup style="color: #777"></sup>Free</h5>
                                <p>We do not forget anyone, we treasure everyone.</p>
                                <a href="/privacy"><button class="btn">Read more</button></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="price__content-item">
                            <div class="item-space">

                                <span><i class="fas fa-female"></i></span>
                                <h4>STANDARD</h4>
                                <h5><sup style="color: #777"></sup>Free</h5>
                                <p>We always help startups, no one is left behind.</p>
                                <a href="/privacy"><button class="btn">Read more</button></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="price__content-item">
                            <div class="item-space">

                                <span><i class="far fa-file-video"></i></span>
                                <h4>PREMIUM</h4>
                                <h5><sup style="color: #777"></sup>Free</h5>
                                <p>Accurate, secure and reputable system for businesses.</p>
                                <a href="/privacy"><button class="btn">Read more</button></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="container ">
        <div class="row">
            <div class="col-xs-6 col-md-5 ft-left">

                <h3>NKHH</h3>
                <p>We are proud to be the bank of the year 2020, with excellent techniques, hardworking staff, a system that meets many requirements. We are always trying to become the number one bank in the world.
                </p>
                <ul class="flex a-center">
                    <li><a href="https://www.facebook.com/LicthSento"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://github.com/1760086"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-2 menu">
                <h3>Main Menu</h3>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="/"></a>
                    </div>
                    <div class="col-xs-6">
                        <a href="/about"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="/">Home</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="/about">About</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="/profile">Profile</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="/privacy">Privacy</a>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-md-5 ft-right">
                <h3>Contact Us</h3>
                <p>Email: lenguyentrungkien@admin.com</p>
                <br>
                <p>Phone number: 0123321123321</p>
                <br>
                <p>Address: 127 Nguyen Van Cu street</p>
                <p>ward 4 district 6, Hochiminh City.</p>
            </div>

        </div>
    </div>
</footer>
<%- include('./client-structure/footer')%>