<!-- Navigation -->

<%- include('header',{title: 'Trang Chủ'})-%>
<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Menu</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Trang chủ</a>
      </li>


      
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">Giới thiệu</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/login">Đăng nhập</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/register">Đăng ký</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Dịch vụ</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Tin tức</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Liên hệ</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Chào mừng bạn đến với NHHK Bank</h1>
      <h3 class="mb-5">
        <em>Luôn phát triển vì khách hàng</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Tìm hiểu thêm</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- Giới thiệu -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2 class="mb-5">Giới thiệu</h2>
          <p class="lead mb-5"> NHHKBank luôn lấy lợi ích và sự hài lòng của Khách hàng làm trọng tâm trong mọi hoạt động.</p>
          <p class="lead mb-5"> NHHKBank luôn hành động và cam kết mang lại lợi ích lâu dài, bền vững cho Khách hàng, Cổ đông, Cán bộ nhân viên và đóng góp cho sự phát triển của cộng đồng.</p>
          <p class="lead mb-5"> Hãy liên lạc với chúng tôi
            <a href="https://www.google.com/">NHHKBank</a>!</p>
          <a class=" btn btn-dark btn-xl js-scroll-trigger" href="#services">Chúng tôi cung cấp</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Dịch vụ  -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Nhanh chóng, đơn giản và thuận tiện</h3>
        <h2 class="mb-5">Dịch vụ của chúng tôi</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-wallet"></i>
          </span>
          <h4>
            <strong>Gửi tiết kiệm</strong>
          </h4>
          <p class="text-faded mb-0">NHHKBank nhận tiền gửi tiết kiệm có kỳ hạn của Quý khách bằng đồng Việt Nam, các loại ngoại tệ. Trong thời gian NHHKBank giao dịch, Quý khách hàng có thể gửi và rút tiền bất kỳ lúc nào.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-credit-card"></i>
          </span>
          <h4>
            <strong>Nạp tiền</strong>
          </h4>
          <p class="text-faded mb-0"> NHHKBank mang lại cho khách hàng sự an tâm, tin tưởng và hài lòng khi quyết định gửi gắm tài sản của mình.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-share-alt"></i>
          </span>
          <h4>
            <strong>Rút tiền</strong>
          </h4>
          <p class="text-faded mb-0">Rút tiền mặt từ tài khoản tiền gửi, xem số dư tài khoản, in sao kê và chuyển khoản trong cùng NHHKBank</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-paper-plane"></i>
          </span>
          <h4>
            <strong>Chuyển tiền</strong>
          </h4>
          <p class="text-faded mb-0">NHHKBank đáp ứng tất cả nhu cầu chuyển tiền và nhận tiền của Quý khách hàng để thanh toán, chuyển tiền với độ an toàn tuyệt đối, chính xác, mức phí cạnh tranh.</p>
        </div>
      </div>
    </div>
  </section>


  <!--TUYỂN DỤNG-->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center"> 
        <h2 class="mb-5">Tin mới</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">TUYỂN DỤNG</div>
                <p class="mb-0">Cơ hội làm việc hấp dẫn, thân thiện, môi trường làm việc chuyên nghiệp</p>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">ƯU ĐÃI</div>
                <p class="mb-0">Đồng hành cùng bạn mọi lúc. </p>
                <p class="mb-0">Sử dụng càng nhiều- Ưu đãi càng cao</p>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">TIN HOẠT ĐỘNG</div>
                <p class="mb-0">Mọi hoạt động của chúng tôi luôn được cập nhật hàng ngày</p>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">CÂU HỎI THƯỜNG GẶP</div>
                <p class="mb-0">Chúng tôi luôn luôn sẵn sàng giải đáp mọi thắc mắc của khách hàng.</p>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white text-center">
    <div class="container text-center">
      <h2 class="lead mb-5">Bạn có vấn đề muốn trao đổi với một trong những cố vấn tài chính của chúng tôi ? </h2>
        <h2 class="lead mb-5">Chỉ cần gửi thông tin của bạn và chúng tôi sẽ liên lạc ngay.</h2> 
        <h2 class="lead mb-5"> Bạn cũng có thể gửi email cho chúng tôi nếu bạn muốn.</h2>
      <a href="#lienhe" class="btn btn-xl btn-light mb-5">Đồng ý</a>
      </div>          
  </section>
  <p>
  </p>

  <!-- Map -->
  <div id="contact" class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.637215381392!2d106.6790081144089!3d10.76241759233104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1bfc262bf1%3A0x4e843897f2900135!2zMjI3IMSQxrDhu51uZyBOZ3V54buFbiBWxINuIEPhu6ssIFBoxrDhu51uZyA0LCBRdeG6rW4gNSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1593243823019!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br />
    <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
  </div>

  <!-- Footer -->
  <footer  id="lienhe" class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <h2 class="mb-5">THÀNH VIÊN</h2>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <img src="nhi.jpg" width="100px" height="100px" >
            </span>
            <h2 class="lead mb-5">
              Nguyễn Ngọc Yến Nhi
            </h2>
            <div class="social d-flex justify-content-center">
              <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
          </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <img src="hang.jpg" width="100px" height="100px" >
            </span>
            <h2 class="lead mb-5">
              Châu Thanh Hằng
            </h2>
            <div class="social d-flex justify-content-center">
              <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
          </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <img src="hai.jpg" width="100px" height="100px" >
            </span>
            <h2 class="lead mb-5">
              Nguyễn Ngọc Đức Hải
            </h2>
            <div class="social d-flex justify-content-center">
              <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
          </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <img src="kien.jpg" width="100px" height="100px" >
            </span>
            <h2 class="lead mb-5">
              Lê Nguyễn Trung Kiên
            </h2>
            <div class="social d-flex justify-content-center">
              <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
              <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
              <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
          </div>
          </div>        
        </div>  
      </ul>
      <p class="text-muted small mb-0">L a p T r i n h W e b 2  &copy; O u r W e b s i t e 2020</p>
    </div>
  </footer>
  <%- include('footer')-%>