<%- include('./profile-structure/header',{title:'My Accounts'})%>

<div class="history history-right-content">
    <div class="title">
        <h3>My Accounts</h3>
    </div>
    <div class="overlay"></div>
        <div class="list-user"> 
            <div class="list-user-content">
                <table>
                    <tr> 
                        <th>AccountID</th>
                        <th>Balance</th>
                        <th>Currency</th>
                        <th>Status</th>
                        <th>Account Type</th>
                        <th>Term</th>
                        <th>Start Date</th>
                        <th>Close Date</th> 
                    </tr>
                </table>
            </div>
            <div class="pagination">
                <ul class="flex j-center a-center">

                </ul>
            </div>
        </div>
</div>



<%- include('./profile-structure/footer')%>

<script>

    // cai nay cua staff đúng k
    function fetchData(start, limit) {

        $.get("/api/account-list", { start, limit },
            function (data, textStatus, jqXHR) {
                $('.list-content-item').remove();
                if (data && data.rows) {
                    data.rows.forEach(element => {
                        $(`
                        <tr class="list-content-item">
                            <td>${element.accountId}</td>                     
                            <td>${element.balance}</td>
                            <td>${element.currencyType}</td>
                            <td>
                                ${element.status == 1 ? 'Ok':'Fail'}
                            </td>   
                            <td>
                                ${element.accountType == 1 ? 'Tài khoản thanh toán':'Tài khoản tiết kiệm'}
                            </td>   
                            <td>
                                ${element.term == null ? '': element.term + ' tháng'}
                            </td>  
                            <td>${element.startDate}</td>
                            <td>${element.closeDate}</td>                          
                    </tr>
                        `).appendTo('.list-user table');
                    });
                    // xử li pagination

                    const numpage = (Math.floor(data.count / limit) + (data.count / limit > 0 ? 1 : 0))

                    $('.pagination ul').empty()
                    for (let i = 0; i < numpage; i++) {
                        if (i == start) {
                            $(`<li class="pagination-item active" value=${i}>
                            <a href="">${i + 1}</a>
                        </li>`).appendTo(`.pagination ul`);
                        }
                        else {
                            $(`<li class="pagination-item" value=${i}>
                            <a href="" style="color:#333">${i + 1}</a>
                        </li>`).appendTo(`.pagination ul`);
                        }
                    }
                }
            },
        );

    }  

    $(function () {

        const limit = 7;
        // get data
        fetchData(0, limit);

        // fix css
        $('header').css('background', '#1b262c');
        $('.overlay').css('display', 'none')

        // handle event

        // Pagination
        $(document).on('click', '.pagination-item', function (e) {
            e.preventDefault();
            $('.pagination-item').removeClass('active')
            $(this).addClass('active')
            const start = $(this).attr('value');

            fetchData(start, 7);
        });
        $(document).on('click', '.s-pagination-item', function (e) {
            e.preventDefault();
            const start = $(this).attr('value');

            $('.pagination ul').empty();
            $('.s-pagination-item').removeClass('active')
            $(this).addClass('active')
           

            const searchValue = $('#search-txt').val();
            if (!searchValue) {
                fetchData(0, 7)
                return
            }
            $.get("/api/account-list", { start, search: searchValue,limit },
                function (data, textStatus, jqXHR) {
                    $('.list-content-item').remove();
                    if (data && data.rows) {
                        data.rows.forEach(element => {
                            $(`
                                <tr class="list-content-item">
                                <td>${element.id}</td>
                                <td>${element.accountId_1}</td>
                                <td>${element.accountId_2}</td>
                                <td>${element.time}</td>
                                <td>${element.message}</td>
                                <td>${element.value}</td>
                                <td>${element.currencyType}</td>
                                <td>${element.action}</td>
                                <td>${element.status}</td>
                            </tr>
                                `).appendTo('.list-user table');
                        });
                        // xử li pagination

                        const numpage = (Math.floor(data.count / limit) + (data.count / limit > 0 ? 1 : 0))

                        $('.pagination ul').empty()


                        for (let i = 0; i < numpage; i++) {
                            if (i == start) {
                                $(`<li class="s-pagination-item active " value=${i}>
                                        <a href="">${i + 1}</a>
                                    </li>`).appendTo(`.pagination ul`);
                            }
                            else {
                                $(`<li class="s-pagination-item " value=${i}>
                                    <a href="">${i + 1}</a>
                                </li>`).appendTo(`.pagination ul`);
                            }
                        }
                    }
                },
            );

        });
        $(document).on('click', '.btn-search', function (e) {
         
            $('.pagination ul').empty();
            e.preventDefault();
            const searchValue = $('#search-txt').val();
            if (!searchValue) {
                fetchData(0, 7)
                return
            }
            $.get("/api/history", { accountId : searchValue },
                function (data, textStatus, jqXHR) {
                    $('.list-content-item').remove();
                    if (data && data.rows) {
                        data.rows.forEach(element => {
                            $(`
                                <tr class="list-content-item">
                                <td>${element.id}</td>
                                <td>${element.accountId_1}</td>
                                <td>${element.accountId_2}</td>
                                <td>${element.time}</td>
                                <td>${element.message}</td>
                                <td>${element.value}</td>
                                <td>${element.currencyType}</td>
                                <td>${element.action}</td>
                                <td>${element.status}</td>
                            </tr>
                `).appendTo('.list-user table');
                        });
                        // xử li pagination

                        const numpage = (Math.floor(data.count / limit) + (data.count / limit > 0 ? 1 : 0))

                        $('.pagination ul').empty()
                        for (let i = 0; i < numpage; i++) {
                            if (i == 0) {
                                $(`<li class="s-pagination-item active " value=${i}>
                    <a href="">${i + 1}</a>
                </li>`).appendTo(`.pagination ul`);
                            }
                            else {
                                $(`<li class="s-pagination-item " value=${i}>
                    <a href="">${i + 1}</a>
                </li>`).appendTo(`.pagination ul`);
                            }
                        }
                    }
                },
            );

        });


    });
</script>