<%- include('./client-structure/header',{title:'Login'})%>
<div class="login">
    <div class="container">
        <div class="modal">
            <form action="">
                <div class="previous">
                    <a href="/">Back</a>
                </div>
                <div class="form-group">
                    <label for=""><span style="color: red;">*</span> Username or email</label>
                    <input type="text" placeholder="" id="username">
                </div>
                <div class="form-group">
                    <label for=""><span style="color: red;">*</span> Password</label>
                    <input type="password" placeholder="" id="password">
                </div>
                <div class="form-group flex a-center j-between" style="text-align: right;margin-top: 10px;">
                    <a href="/forget-password">Forgot password?</a>
                    <a href="/register">Don't have an account?</a>
                </div> 

                <div class="form-actions">
                    <button class="btn btn-login"><i class="fas fa-sign-in-alt"></i> Login</button>
                </div>
                <div class="form-error">

                </div>
            </form>
        </div>
    </div>
</div>
<%- include('./client-structure/footer')%>
<script>
    $(function () {

        $('.btn-login').click(function (e) {
            e.preventDefault();

            const username = $('#username').val()
            const password = $('#password').val()
            console.log(password)

            $.post('/api/login', { username, password },
                function (data, textStatus, jqXHR) {
                    console.log(data)
                    if (data) {
                        if (data == 'email') {
                            $(location).attr('href', '/active')
                            return
                        }
                        if (data == 'ok') {
                            $(location).attr('href', '/')
                            return
                        }
                        if (data == 'fail') {
                            AddError('Đăng nhập thất bại');
                            return 
                        } 
                        if (data == 'need logout') {
                            $.get("/api/logout",
                                function (data, textStatus, jqXHR) {
                                    if (data) {
                                        $(location).attr('href', '/login');
                                    }
                                },
                            );
                        }
                        alert(data)
                    }
                    else {
                        AddError('Đã xảy ra lỗi');
                        return
                    }
                },
            );

        });
    });

</script>