
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Thông Báo </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
      </head>
    <style>
      body {
         /* background-image: url("b.jpg" );  */
         background-color: #bfd7f3;
         background-position: center;
         background-repeat: no-repeat;
   
      }
      
      h1 {

        font-size: 25px;
        font-family: Georgia;

        text-align: center;
        margin-bottom: 1.5em;
        letter-spacing: 2px;
        text-shadow: 1px 1px 4px rgb(11, 99, 121);
        }
      
   
    
      .center {
        margin: auto;
      
        border: 5px double #3A4411;
        width: 180px;
        height: 180px;
   
        padding: 20px;
      }
     
      .header{
    background-color: #1D809F;
    min-height: 80px;
   
}
    </style>
    
    <body class="preview-page">
    <div class="row">
        <div class="col">
          <nav class="header">
           
          </nav>
        </div>
      </div>

   
             <h1 ><%
            if(thongbao=="thanh cong")
            {
                %><h1>
                <div class="center">
                    <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-emoji-laughing" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5z"/>
                        <path d="M7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
                      </svg>
                  </div><p></p>
                Cảm ơn quý khách đã xác nhận email</h1> 
                 <h1>Vui lòng chờ ít phút trong khi NHHKBank kích hoạt tài khoản</h1> 
                    <h1> NHHK Bank xin chân thành cảm ơn </h1>
                <%
            }
            else
            {
                %><h1>
                    <div class="center">
                        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-emoji-dizzy" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path fill-rule="evenodd" d="M9.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zm-5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708z"/>
                            <path d="M10 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                          </svg>
                      </div>
                      <p></p>Xác nhận email lỗi</h1>
                <h1>Xin quý khách vui lòng kiểm tra và thử lại</h1> <%
            }
        %></h1>
        
               
      
      </div>
    </body>
  </html>
   
   
   
  
   
        
